
p { font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#110133;
    font-size: 20px;
    text-align:center;
    padding-top: 15px;
}

.encabezado{
    background-color:#00918e;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    padding-bottom:30px;
    }

.titulo{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #110133;
    padding-top: 30px;
}

.principal{
    background-color:#00918e;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    padding-bottom: 60px;
    }

.contenedor_logo{
    border:1px; 
    width: 300px; 
    height: 200px; 
    margin:0px auto;
}

.logotipo {
    background-image: url(imagenes/candado.jpeg);
    background-repeat: no-repeat;
    width: 293px;
    height: 242px;
    background-size: contain;
    border-radius: 20px;
    margin:0px auto;
}

.textobotones{
    color:#110133;
    font-size: 15px;
    vertical-align:middle;
    line-height:normal;
    text-align:center;
    margin-top:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.eleccionOffset{
    width: 600px;
    border-style: solid;
    margin:auto;
    color:#003f5c;
    background-color :#ec9b3b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align:center;
    padding:30px;
    border-radius: 20px; 
    }

textarea {
    resize: none;
    max-height: 300px;
}

.pie{
    background-color:#00918e;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    padding-bottom:15px;
}

select{
    width: 300px;
}

.opciones{
    margin: auto;
    background-color:#ec9b3b;
    width:200px;
    height:70px;
    border-style: solid;
    border-radius:20px;
}

.opciones:hover {
    background-color:#EEE416;
}

#cuadrodetexto{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botones:hover {
    background-color:#EEE416;
}


b{
    font-weight: bold;
}